<main class="main">

  <app-menu></app-menu>
  <h3>Dossiers</h3>
  <div *ngIf="folders.length > 0; else noFolders" class="folder-list">
    <div *ngFor="let folder of folders" class="folder" title="{{folder.description}}">
      <div class="left-content">
        <i class="pi pi-folder"></i>
        <span>{{folder.name}}</span>
      </div>
      <div class="right-content">
        <i (click)="deleteFolder(folder.id)" class="pi pi-trash"></i>
        <i (click)="showUpdateFolderDialog(folder)" class="pi pi-pencil"></i>
      </div>
    </div>
  </div>
  <ng-template #noFolders>
    <div>No folders found</div>
  </ng-template>


  <h3>Documents</h3>
  <div *ngIf="documents.length > 0; else noDocuments" class="folder-list">
    <div *ngFor="let document of documents" class="folder">
      <div class="left-content">
        <i class="pi pi-file"></i>
        <span>{{document.title}}</span>
      </div>
      <div class="right-content">
        <i class="pi pi-trash" (click)="deleteDocument(document.id)"></i>
        <i class="pi pi-pencil" (click)="showUpdateDocumentDialog(document)"></i>
      </div>
    </div>
  </div>
  <ng-template #noDocuments>
    <div>No documents found</div>
  </ng-template>

  <p-dialog header="Update un dossier" [(visible)]="visibleFolder" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="folderForm" (ngSubmit)="updateFolder()">
      <input placeholder="Nom du dossier*" type="text" pInputText formControlName="name"/>
      <textarea placeholder="Descripition" rows="5" cols="30" [autoResize]="true" pInputTextarea formControlName="description"></textarea>
      <p-button label="Modifier" (click)="updateFolder()"></p-button>
    </form>
  </p-dialog>

  <p-dialog header="Update un fichier" [(visible)]="visibleDocument" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="documentForm" (ngSubmit)="updateDocument()">
      <input placeholder="Nom du document*" type="text" pInputText formControlName="title"/>
      <p-button label="Modifier" (click)="updateDocument()"></p-button>
    </form>
  </p-dialog>

</main>



<router-outlet></router-outlet>